
<div class="CategoryPage flex flex-row bg-light-surface-1 dark:bg-dark-surface-1">
  <div id="new-side-nav" class="min-w-[15rem] max-w-[15rem] hidden md:block relative mt-nav-h"></div>
  <div class="page-wrapper">
    <div class="category-container">
      <div id="new-category-breadcrumbs"></div>
      <div class="default-grid">
        <h1 class="col-span-full text-light-neutral-1 dark:text-dark-neutral-1 heading-1">{{category.name}}</h1>
        <div id="main-content" class="col-span-full">
          {{#each sections}}
              <h2 class="col-span-full mt-11">
                <a href="{{url}}" class="group">
                  <span class="transition text-light-neutral-1 dark:text-dark-neutral-1 heading-2 group-hover:text-light-neutral-2 group-hover:dark:text-dark-neutral-2">{{name}}</span>
                </a>
              </h2>
              {{#if articles}}
                <ul class="col-span-full default-grid mt-5">
                  {{#each articles}}
                    <li class="article-list-item {{#if internal}}hidden{{/if}}">
                      <a href="{{url}}" class="article-list-link group transition h-full flex flex-col bg-light-surface-2 dark:bg-dark-surface-2 hover:bg-light-accent-2 hover:dark:bg-dark-accent-2 px-gap-large py-gap-medium rounded-medium w-full">
                        <h3 class="subheading-2 transition text-light-neutral-1 dark:text-dark-neutral-1 group-hover:text-light-accent-1 group-hover:dark:text-dark-accent-1">{{title}}</h3>
                        <p class="body-3 text-light-neutral-2 dark:text-dark-neutral-2">{{snippet}}</p>
                      </a>
                    </li>
                  {{/each}}
                </ul>
                {{#if more_articles}}
                  <div class="mt-4">
                    <a href="{{url}}" class="group">
                      <span class="button-label-2 transition text-light-neutral-1 dark:text-dark-neutral-1 group-hover:text-light-neutral-2 group-hover:dark:text-dark-neutral-2">
                      {{t 'show_all_articles' count=article_count}}
                      </span>
                    </a>
                  </div>
                {{/if}}
              {{/if}}
            </section>
          {{else}}
            <i class="category-empty">
              <a href="{{category.url}}">{{t 'empty'}}</a>
            </i>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>

<script type="module">
  import { renderCategoryBreadcrumbs } from "category-page";

  const container = document.getElementById("new-category-breadcrumbs");

  const settings = {{json settings}};

  const categoryPageData = {
    category: {{json category}}
  }

  // Make sure arguments are correctly typed. 
  renderCategoryBreadcrumbs(settings, categoryPageData, container);
</script>

<script type="module">
  import { renderSideNav, renderMobileMenuNav, sideNav } from "side-nav";

  const container = document.getElementById("new-side-nav");

  const settings = {{json settings}};

  const sideNavData = await sideNav.get();
  
  const category = {{json category}};
  // Make sure arguments are correctly typed. 
  renderSideNav(settings, sideNavData, { category: category.id }, container);

  // Add mobile nav
  const addMobileNav = (sideNavData) => {

    const container = document.getElementById("new-mobile-nav");

    const settings = {{json settings}};

    // Make sure arguments are correctly typed. 
    renderMobileMenuNav(settings, sideNavData, { category: category.id }, container);
  }

  const mobileMenuButton = document.getElementById("mobile-menu-button");
    mobileMenuButton.addEventListener("click", (e) => {
    // add setTimeout to ensure the mobile nav is added after mobile menu appears on DOM first
    setTimeout(() => addMobileNav(sideNavData), 100);
  });
</script>