<div class="container-divider"></div>
<div class="container bg-light-surface-1 dark:!bg-dark-surface-1">
  {{!-- TODO: add breadcrumbs after merging article PR --}}
  {{!-- <div id="new-article-breadcrumbs"></div> --}}
  <h1 class="heading-1 text-light-neutral-1 dark:text-dark-neutral-1 mb-12">
    {{t 'submit_a_request'}}
  </h1>

  <div id="main-content" class="form">
    <div id="new-request-form"></div>
  </div>
</div>
{{!-- <script type="module">
  import { renderArticleBreadcrumbs } from "article-page";

  const container = document.getElementById("new-article-breadcrumbs");

  const settings = {{json settings}};


  const articlePageData = {
    article: {{json article}}
  }

  // Make sure arguments are correctly typed. 
  renderArticleBreadcrumbs(settings, articlePageData, container);
</script> --}}
<script type="module">
  import { renderNewRequestForm } from "new-request-form";

  const container = document.getElementById("new-request-form");

  const settings = {{json settings}};

  const props = {
    requestForm: {{json new_request_form}},
    newRequestPath: {{json (page_path 'new_request')}},
    parentId: {{json parent.id}},
    parentIdPath: {{json parent.url}},
    locale: {{json help_center.locale}},
    baseLocale: {{json help_center.base_locale}},
    hasAtMentions: {{json help_center.at_mentions_enabled}},
    userRole: {{json user.role}},
    userId: {{json user.id}},
    brandId: {{json brand.id}},
    organizations: {{json user.organizations}},
    wysiwyg: true,
    answerBotModal: {
      answerBot: {{json answer_bot}},
      hasRequestManagement: {{json help_center.request_management_enabled}},
      isSignedIn: {{json signed_in}},
      helpCenterPath: {{json (page_path 'help_center')}},
      requestsPath: {{json (page_path 'requests')}},
      requestPath: {{json (page_path 'request' id=answer_bot.request_id)}}
    },
  };

  renderNewRequestForm(settings, props, container);
</script>
