<div>
  {{!-- need this if statement to deliver type filters to the view --}}
  {{#if source_filters}}
  {{/if}}
  <div class="search-container my-[1.94rem] w-full mt-8 opacity-0" id="search-bar-search-result">
    <div class="m-auto flex flex-row space-x-2 p-3 rounded-[1.25rem] bg-light-surface-3 dark:!bg-dark-surface-3 items-center !pointer-events-auto !mt-4 border border-transparent focus-within:!border-light-surface-3 focus-within:dark:!border-dark-surface-3 focus-within:!bg-transparent focus-within:!text-light-neutral-1 focus-within:dark:!text-dark-neutral-1">
      <h2 class="sr-only">{{ t 'search' }}</h2>
      {{search submit=false}}
    </div>
  </div>
  <div id="new-search-result"></div>
</div>

<script type="module">
  import { renderSearchResults } from "search-result-page";

  const container = document.getElementById("new-search-result");
  const searchBarPlaceholder = document.getElementById("search-bar-search-result");

  const settings = {{json settings}};
  const query = "{{ query }}";
  const results = {{json results}};
  const typeFilters = {{ json type_filters }};
  const searchData = {
    query,
    results,
    typeFilters
  }

  renderSearchResults(settings, searchData, container);
  container.prepend(searchBarPlaceholder);
</script>